/* app css stylesheet */

body {
  background: #d4f0ff;
  font-family: Helvetica;
}

ul {
  list-style: none;
}

/* HEADER */

.header {
  padding: 30px 0 15px 0;
  border-bottom: 1.5px solid #bed8e5;
}

.brand {
  font-family: "Bauhaus 93", Verdana, Helvetica, sans-serif;
  font-size: 70px;
  color: white;
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
  color: white;
}

.username li{
  font-size:16px;
  display: inline;
  padding:10px;
  color: white;
}

.controls input {
  height: 40px;
  font-size: 18px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #999;
}

.sign-in {
  margin: 10% auto 0 auto;
  width: 50%;
}

.sign-in button {
  margin-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #363636;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #ffcf70 0%,
    #ffca61 50%,
    #fdb931 50%,
    #ffc551);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#ffcf70),
    color-stop(0.50, #ffca61),
    color-stop(0.50, #fdb931),
    to(#ffc551));
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #999;
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
}
