/* app css stylesheet */
/* @media (min-width: 1024px) { */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  background: #d4f0ff;
  font-family: Helvetica Neue, Helvetica;
  /*margin: 0 2%;*/
  margin: 0 auto;
}

.container {
  width: 1024px;
}

/* HEADER */

.header {
  height: 51px;
}

.divider {
  border-bottom: 2px solid #bed8e5;
}

.brand img {
  padding-top: 13px;
  padding-left: 2px;
}

.accountLinks {
  padding-top: 16px;
  text-align: right;
  font-size:12px;
  color: white;
}

.accountLinks a {
  padding: 0 4px;
  text-decoration: none;
  color: white;
}

/* LOGIN SCREEN */

.form-horizontal .control-group {
  margin-bottom: 5px;
}

.sign-in {
  margin-top: 250px;
}

.controls input {
  height: 40px;
  margin-left: 43px;
  font-size: 16px;
  font-weight: lighter;
  padding-left: 12px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #666;
}

.sign-in button {
  margin-left: 43px;
  font-size: 22px;
  font-weight: normal;
  color: #363636;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #ffcf70 0%,
    #ffca61 50%,
    #fdb931 50%,
    #ffc551);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#ffcf70),
    color-stop(0.50, #ffca61),
    color-stop(0.50, #fdb931),
    to(#ffc551));
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #999;
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
}

/* CHOOSE BUTTONS */

.choose {
  margin-top: 15%;
  font-size: 20px;
  color: #fff;
  text-shadow:
    1px 1px 1px rgba(000,000,000,1);
}

.choose p {
  margin-bottom: 20px;
}


.choose button {
  width: 350px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  margin: 10px auto 0 auto;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#fb8b52),
    color-stop(0.50, #fd6c15),
    color-stop(0.50, #ec570a),
    to(#e5622e));
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-shadow:
    1px 1px 1px rgba(000,000,000,1);
}

.choose .disabled {
  opacity: 0.9;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#268bda),
    color-stop(0.50, #268bda),
    color-stop(0.50, #257dc2),
    to(#257dc2));
}

.choose span {
  opacity: 0.5;
}

/* SUBHEADER */

.selector {
  margin-top: 8px;
  margin-bottom: 12px;
  font-family: Helvetica Neue, Helvetica;
  color:white;
}

.dropdownLabel {
  text-transform: uppercase;
  font-size:11px;
}

.selector-left {
  margin-top: 2px;
  width: 80%;
  font-weight: bold;
}

.selector-right {
  margin-top: 2px;
  width: 20%;
}

.dropdown-menu {
  z-index: 10000;
}

.icon-chevron-right {
  background-color: #5a656b;
  /*color: #0078bb;*/
  border-radius: 10px;
  margin: .5% 5% 5% 5%;
  padding: 0 1px 1px 0;
}

.chev-disabled {
  background-color: #9db2bd;
}

.tactic-detail {
  border-top: 1px solid #73c3f5;
  background: #4987df;
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%;
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -webkit-gradient(linear, left top, left bottom, from(#75a4e6), to(#4987df));
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -webkit-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -moz-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -ms-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -o-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, linear-gradient(top, #75a4e6, #4987df); /* W3C */
  margin-top: 6%;
  margin-right: 15%;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: rgba(51,51,51,.5) 2px 1px 0;
  -moz-box-shadow: rgba(51,51,51,.5) 2px 1px 0;
  box-shadow: rgba(51,51,51,.5) 2px 1px 0;
}

.tactic-detail p {
  font-size: 16px;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  padding-right: 25px;
}

.tactic-detail:hover {
  border-top-color: #4987df;
  /*background: #4987df;*/
  color: #ccc;
}

.tactic-detail:active {
  border-top-color: #1b435e;
  background: #1b435e; 
}

.tactic-detail-chevron {
  float: right;
}

/* MAIN CONTENT - HEADER */

.main-content {
  padding: 0px;
}

.main-container {
  background: white;
  height: 594px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  -webkit-box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  -moz-box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  border:1px solid rgba(116, 179, 233, 0.8);
}

.main-container-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #e1e1e1;
  height: 38px;
  color: #464646;
}

.main-container-header p {
  font-size: 18px;
  text-shadow: rgba(0,0,0,.4) -1px 0px 0;
  margin-top: 10px;
}

.datePicker {
  margin-top: 4px;
}

.dateField {
  width: 30%;
}

.dateBtn {
  margin-right: 5%;
}

/*MAIN CONTENT - MAIN */

.mainContentSub {
  margin-top: 7px;
}

.durationLabel {
  padding-left: 14px;
  font-size: 10px;
  color: #4f5459;
}

.pill {
  font-weight: bold;
  width: 90%;
}

.pill:hover {
  color: #0079bc;
}

.pill.active {
  color: #0079bc;
}

.btn.btn-mini.pill-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btn.btn-mini.pill-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.excel {
  float: right;
  margin-top:0px;
  margin-right: -20px;
  padding: 3px 12px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}

.legend {
  float: right;
  margin-right: 16px;
  display:inline;
  margin-top: -5px;
}

.legend li{
  float:left;
  display:inline;
  font-size:9px;
  color: #4f5459;
  width:35px;
  padding-left:6px;
}

.legend-bar {
  height: 5px;
  width: 35px;
}

.plus-avg {
  background: linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -o-linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -moz-linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -webkit-linear-gradient(bottom, #0079BC 0%, #006196 100%);
}

.minus-avg {
  background: linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -o-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -moz-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -webkit-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
}

.negative {
  background: linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -o-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -moz-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -webkit-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
}

.best {
  background: #bade90;
}

/* MAIN CONTENT TABLE */

.main-table {
  color: #4f5459;
  margin-left: 15px;
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
}

.parityCol {
  width: 120px;
}

.eventsCol {
  width: 40px;
}

.dataColumn {
  width: 81px;
  background: #fff;
}

.upper-header {
  border-bottom: 2px solid #dcdcdc;
  font-size: 13px;
  vertical-align: bottom;
}

.table-sub-header th {
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  vertical-align: bottom;
  padding-left: 5px;
  position: relative;
  z-index: 100;
}

.subhead-light {
  color: #959595;
}

.odd-column {
  background: #f2f2f2;
}

.table-row {
  border-bottom: 1px solid #dcdcdc;
}

.table-row td {
  padding: 3px 0 4px 0;
}

.row-title a{
  font-weight: bold;
  color: #666;
  text-decoration: none;
}

.sum-row {
  text-transform: uppercase;
  font-weight: bold;
}

.average {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #007abe;
  cursor: pointer;
  border: none;
  padding: 0;
  border-top: 1px solid #ccc;
  background: #fff;
  z-index: 100;
}

.average.odd-column {
  background: #f2f2f2;
}

div.selected-avg {
  border-top: 1px solid #dcdcdc;
  background: #fff;
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  font-size: 28px;
}

.odd-column div.selected-avg {
  background: #f2f2f2;
}

.average-number {
  padding: 8px 0 4px 0;
}

.selected-average-number {
  padding: 12px 0 4px 0;
}

div.avg-bottom {
  position: relative;
  background: #ddd;
  height: 10px;
  bottom: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

div.selected-avg-bottom {
  margin-top: 4px;
  height: 12px;
  background: #0077ba;
  border-top: 1px solid #0068a2;
  border-bottom: 1px solid #3d98cb;
}

.odd-column .avg-bottom-odd {
  /*background: #f2f2f2;*/
}

.grey-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 38px;
  cursor: pointer;
  margin-top: 3px;
}

.grey .arrow-down {
  border-top: 5px solid #bbb;
  -webkit-box-shadow: 0px -1px 0px rgba(56, 56, 56, 0.8);
  -moz-box-shadow:    0px -1px 0px rgba(56, 56, 56, 0.8);
  box-shadow:         0px -1px 0px rgba(56, 56, 56, 0.8);
}

.grey .arrow-up {
  border-bottom: 5px solid #fff;
  -webkit-box-shadow: 0px 1px 0px rgba(56, 56, 56, 0.8);
  -moz-box-shadow:    0px 1px 0px rgba(56, 56, 56, 0.8);
  box-shadow:         0px 1px 0px rgba(56, 56, 56, 0.8);
}

/* MAIN CONTENT TABLE - BAR CHARTS */

.bar-charts {
  position: absolute;
  z-index: 1;
  top: 268px;
}

#bar-sales {
  left: 205px;
}

#bar-vol {
  left: 292px;
}

#bar-margin {
  left: 379px;
}

#bar-profit {
  left: 466px;
}

#bar-trans {
  left: 553px;
}

#bar-impact {
  left: 640px;
}

.brand-bar-charts {
  position: relative;
  left: 150px;
  top: -20px;
}

.brand-bar-charts:last-of-type {
  left: 200px;
}

.best-row {
  background-color: rgb(185,222,144);
  background-size: 20px;
}

/*.top-border {
  border-top: 1px solid #ccc;
  margin: 0px 0px 20px 10px;
}*/

/*.average.pos {
  color: #F77B00;
}

.average.avg {
  color: #FDBA30;
}*/

/*td {
  padding: 7px;
}*/

/* TIME SERIES*/


#time-series {
  /*height: 130px;*/
  /*overflow: hidden;*/
}

.time-series {
  /*margin-top: -21px;*/
  overflow: hidden;
  height: 110px;
  margin: 0 8px;
  background: #ebebeb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 0 2px 2px 0px #999;
  -moz-box-shadow: inset 0 2px 2px 0px #999;
  box-shadow: inset 0 2px 2px 0px #999;
}

/* RIGHT BAR */

.numActions {
  float: right;
  padding: 0 9px;
  margin-right: 28px;
  margin-top: -2%;
  background: #e80a15; /* Old browsers */
  background: linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -o-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -moz-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -webkit-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -ms-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);

background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, rgb(246,155,160)),
  color-stop(0.65, rgb(232,10,21)),
  color-stop(1, rgb(208,4,7))
);
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px 0 #777;
  -moz-box-shadow: 0 2px 2px 0 #777;
  box-shadow: 0 2px 2px 0 #777;
}

.action-item {
  margin: 12px 10px;
  padding: 10px 34px 10px 10px;
  border-radius: 10px;
}

.action-item p {
  position: relative;
}

.action-open {
  border-bottom: 1px solid #e5d6d6;
  /*padding-bottom: 8pt;*/
  margin-bottom: 0 !important;
}

.hiddenAction {
  border-top: 1px solid #fff8f8;
  padding-top: 8pt;
  margin-bottom: 0;
}

.action-item span {
  font-weight: bold;
}

.green {
  border:2px solid #8dc63f;
  background-color: #f1f6e9;
}

.red {
  border:2px solid #ff0000;
  background-color: #ffeeee;
}

.yellow {
  border:2px solid #d9cb00;
  background-color: #fffcdd;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  right: -10%;
  top: 50%;
  cursor:pointer;
}

.red .arrow-down {
  border-top: 10px solid #f00;
  -webkit-box-shadow: 0px -1px 0px rgba(146, 0, 50, 0.75);
  -moz-box-shadow:    0px -1px 0px rgba(146, 0, 50, 0.75);
  box-shadow:         0px -1px 0px rgba(146, 0, 50, 0.75);
}

.red .arrow-up {
  border-bottom: 10px solid #f00;
  -webkit-box-shadow: 0px 1px 0px rgba(146, 0, 50, 0.75);
  -moz-box-shadow:    0px 1px 0px rgba(146, 0, 50, 0.75);
  box-shadow:         0px 1px 0px rgba(146, 0, 50, 0.75);
}

.green .arrow-down {
  border-top: 10px solid #8dc63f;
  -webkit-box-shadow: 0px -1px 0px rgba(81, 113, 36, 0.75);
  -moz-box-shadow:    0px -1px 0px rgba(81, 113, 36, 0.75);
  box-shadow:         0px -1px 0px rgba(81, 113, 36, 0.75);
}

.green .arrow-up {
  border-bottom: 10px solid #8dc63f;
  -webkit-box-shadow: 0px 1px 0px rgba(81, 113, 36, 0.75);
  -moz-box-shadow:    0px 1px 0px rgba(81, 113, 36, 0.75);
  box-shadow:         0px 1px 0px rgba(81, 113, 36, 0.75);
}

.yellow .arrow-down {
  border-top: 10px solid #c3b700;
  -webkit-box-shadow: 0px -1px 0px rgba(56, 100, 44, 0.5);
  -moz-box-shadow:    0px -1px 0px rgba(56, 100, 44, 0.5);
  box-shadow:         0px -1px 0px rgba(56, 100, 44, 0.5);
}

.yellow .arrow-up {
  border-bottom: 10px solid #c3b700;
  -webkit-box-shadow: 0px 1px 0px rgba(56, 100, 44, 0.5);
  -moz-box-shadow:    0px 1px 0px rgba(56, 100, 44, 0.5);
  box-shadow:         0px 1px 0px rgba(56, 100, 44, 0.5);
}

/************/
/* 2x2 Page */
/************/

.matrixTitle {
  /*font-weight: lighter !important;*/
  text-align: center;
  color: #0078bb;
}

.y-axis-label {
  border-right: 2px solid #e5e5e5;
  height:465px;
  margin-right: 0;
}

.y-axis-label p {
  width: 430px;
  text-align: center;
  font-size: 12pt;
  color: #4f5459;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform:rotate(270deg) translate(-200px, -180px);
  -moz-transform:rotate(270deg) translate(-200px, -180px);
  -o-transform:rotate(270deg) translate(-200px, -180px);
  -ms-transform:rotate(270deg) translate(-200px, -180px);
  transform:rotate(270deg) translate(-200px, -180px);
}

.x-axis-label {
  margin: 0 6.5%;
  border-top: 2px solid #e5e5e5;
  text-align: center;
  font-size: 12pt;
  padding-top: 10px;
  color: #4f5459;
}

.axisCircle {
  position: absolute;
  text-align: center;
  font-size: 14pt;
  padding-bottom: 2px;
  width: 20px;
  border-radius: 20px;
  border: 2px solid #e5e5e5;
  background-color: white;
}

.yAxisTop {
  bottom: 525px;
  left: 92px;
}

.yAxisBottom {
  bottom: 49px;
  left: 92px;
}

.xAxisRight {
  bottom: 49px;
  /*left: 92px;*/
  right: 103px;
}

.quadrant {
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 0 1px;
}

.qLabels {
  overflow: auto;
  border-bottom: 1px solid rgba(100,100,100,0.2);
}

.qNums {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.qLabel {
  height: 60px;
  padding: 10px 0 0;
  font-size: 12pt;
}

.qNum {
  height: 150px;
  width: 33.3% !important;
  font-size: 40pt;
  margin: 0 !important;
}

div .qNum:nth-child(1),div .qNum:nth-child(2) {
  border-right: 1px solid rgba(100,100,100,0.2);
}

div .qNum:nth-child(2),div .qNum:nth-child(3) {
  border-left: 1px solid rgba(255,255,255,0.1);
}

.qNum p {
  padding-top: 40px;
}

p.qSub {
  font-size: 18pt;
  padding-top: 20px;
}


.success {
  background: #005f94; /* Old browsers */
  background: -moz-linear-gradient(45deg, #005f94 0%, #0079bd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#005f94), color-stop(100%,#0079bd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* IE10+ */
  background: linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* W3C */
}

.warning {
  background: #e89c00; /* Old browsers */
  background: -moz-linear-gradient(45deg, #e89c00 0%, #fdba31 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e89c00), color-stop(100%,#fdba31)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* IE10+ */
  background: linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* W3C */
}

.danger {
  background: #c15a00; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c15a00 0%, #f77b00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#c15a00), color-stop(100%,#f77b00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* IE10+ */
  background: linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* W3C */
}



/* DEBUGGING */
.visible {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red; 
}

/*}*/
