/* app css stylesheet */
/*@media (min-width: 1024px) { */
body {
  background: #d4f0ff;
  font-family: Helvetica Neue, Helvetica;
  margin: 0 2%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.outerContainer {
  min-width: 984px;
}

/* HEADER */

.header {
  /*padding: 1.5% 0 1.5% 0;*/
  padding-bottom: 7px;
  border-bottom: 1.5px solid #bed8e5;
  /*margin-left:0;*/
}

.brand img{
  padding-top: 11px;
  /*height:40px;*/
}

.username {
  text-align: right;
  padding-top: 1.5%;
  list-style: none;
}

.username li{
  font-size:12px;
  display: inline;
  color: white;
}

/* LOGIN SCREEN */

.controls input {
  height: 40px;
  font-size: 14pt;
  padding: 6px 0 0 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #999;
}

.sign-in {
  margin-top: 25%;
}

.sign-in button {
  font-size: 20px;
  font-weight: bold;
  color: #363636;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #ffcf70 0%,
    #ffca61 50%,
    #fdb931 50%,
    #ffc551);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#ffcf70),
    color-stop(0.50, #ffca61),
    color-stop(0.50, #fdb931),
    to(#ffc551));
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #999;
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
}

/* CHOOSE BUTTONS */

.choose {
  margin-top: 15%;
  font-size: 20px;
  color: #fff;
  text-shadow:
    1px 1px 1px rgba(000,000,000,1);
}

.choose p {
  margin-bottom: 20px;
}


.choose button {
  width: 350px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  margin: 10px auto 0 auto;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#fb8b52),
    color-stop(0.50, #fd6c15),
    color-stop(0.50, #ec570a),
    to(#e5622e));
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-shadow:
    1px 1px 1px rgba(000,000,000,1);
}

.choose .disabled {
  opacity: 0.9;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#268bda),
    color-stop(0.50, #268bda),
    color-stop(0.50, #257dc2),
    to(#257dc2));
}

.choose span {
  opacity: 0.5;
}

/* SUBHEADER */

.subheader {
  font-family: Helvetica Neue, Helvetica;
  margin-left:0;
  padding-top: .75%;
  color:white;
}

.select-one {
  width: 80%;
  font-weight: bold;
}

.dropdown-menu {
  z-index: 10000;
}

.dropdown-toggle {
  width: 20%;
}

.selector:first-child {
  margin-left:0;
}

.dropdownLabel {
  text-transform: uppercase;
  font-size:11px;
}

.icon-chevron-right {
  background-color: #5a656b;
  /*color: #0078bb;*/
  border-radius: 10px;
  margin-top: .5%;
  margin-left: 5%;
  margin-bottom: 7%;
  padding: 0 1px 1px 0;
}

.chev-disabled {
  background-color: #9db2bd;
}

.tactic-detail {
  border-top: 1px solid #73c3f5;
  background: #4987df;
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%;
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -webkit-gradient(linear, left top, left bottom, from(#75a4e6), to(#4987df));
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -webkit-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -moz-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -ms-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, -o-linear-gradient(top, #75a4e6, #4987df);
  background: url('../img/item-tactic-chevron-small.png') no-repeat 95% 50%, linear-gradient(top, #75a4e6, #4987df); /* W3C */
  margin-top: 6%;
  /*padding-top: 10%;*/
  margin-right: 15%;
  /*padding: 10px 30px;*/
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: rgba(51,51,51,.5) 2px 1px 0;
  -moz-box-shadow: rgba(51,51,51,.5) 2px 1px 0;
  box-shadow: rgba(51,51,51,.5) 2px 1px 0;
}

.tactic-detail p {
  font-size: 16px;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  padding-right: 25px;
}

.tactic-detail:hover {
  border-top-color: #4987df;
  /*background: #4987df;*/
  color: #ccc;
}

.tactic-detail:active {
  border-top-color: #1b435e;
  background: #1b435e; 
}

.tactic-detail-chevron {
  float: right;
}


/* MAIN CONTENT */

.main-content-container {
  margin-left:20px;
}

.main-content {
  margin: 1% 0;
  padding: 0px;
}

.main-container {
  background: white;
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  -webkit-box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  -moz-box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  border:1px solid rgba(116, 179, 233, 0.8);
}

.main-container-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #e1e1e1;
  height: 40px;
  color: #464646;
}

.main-container-header p {
  font-size: 18px;
  text-shadow: rgba(0,0,0,.4) -1px 0px 0;
  margin-top: 10px;
  padding-left: 20px;
}

input.calendar {
  margin-top: .7%;
  /*height: 40px;*/
}

.left-container {
  margin-left: 20px;
}
/* Main-content Header */

.main-content-header {
  margin: 20px 20px -30px 20px;
  height: 50px;
}

.pill {
  padding: 4px 35px;
  font-size:20px;
  font-weight: bold;
  color:#4f5459;
  text-shadow: rgba(255,255,255,1) 1px 1px 0;
}

.pill:hover {
  color: #0079bc;
}

.pill-left {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;

}

.pill-right {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.excel {
  margin-top:0px;
  padding: 0 10px;
  border-left:2px solid #ccc;
  border-right:2px solid #ccc;
}

.legend {
  display:inline;
  margin-left: 0;
}

.legend li{
  float:left;
  display:inline;
  font-size:12px;
  width:50px;
  padding-left:10px;
}

.legend-bar {
  height: 5px;
  width: 50px;
}

.plus-avg {
  background: linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -o-linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -moz-linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -webkit-linear-gradient(bottom, #0079BC 0%, #006196 100%);
}

.minus-avg {
  background: linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -o-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -moz-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -webkit-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
}

.negative {
  background: linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -o-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -moz-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -webkit-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
}

.best {
  background: #bade90;
}

/* TABLE */

table {
  border-top: none;
  color: #666;
  position: relative;
  top: -31px;
}

.table-header {
  margin-bottom:-10px;
}

tr {
  border-bottom: 1px solid #ccc;
}

#bar-sales, #bar-vol, #bar-margin, #bar-profit, #bar-trans, #bar-impact,
#brand-bar-sales, #brand-bar-vol, #brand-bar-margin {
  height: 10px;
  overflow: visible;
  /*margin-right:1px;*/
  /*margin-top: -28px;*/
}

.bar-charts {
  position: relative;
  left: 200px;
  top: 61px;
}

.brand-bar-charts {
  position: relative;
  left: 100px;
  top: -20px;
}

.brand-bar-charts:last-of-type {
  left: 150px;
}

#time-series {
  height: 130px;
  overflow: hidden;
}

.column {
  background: rgba(213,213,213,.3);
}

.row-title {
  min-width: 150px;
}

.row-title a{
  position: relative;
  font-size: 14px;
  font-weight: bold;
  width: 8%;
  color: #666;
  text-decoration: none;
}

.best-row {
  background-color: rgb(185,222,144);
  background-size: 20px;
}

.upper-header {
  border-bottom: 1px solid #ccc;
  margin: 20px 0px 0px 10px !important;
}

.top-border {
  border-top: 1px solid #ccc;
  margin: 0px 0px 20px 10px;
}

.table-header th {
  font-size: 11px;
  text-align: left;
  vertical-align: bottom;
}

.average {
  position: relative;
  text-align: center !important;
  font-size: 25px;
  font-weight: bold;
  color: #007abe;
  cursor: pointer;
  border: none !important;
  padding: 0;
}

.average-number {
  padding: 8px;
}

.average-bottom {
  position: relative;
  background: #ddd;
  height: 12px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.average-bottom-odd {
  position: relative;
  background: #f2f2f2;
  height: 12px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.average.pos {
  color: #F77B00;
}

.average.avg {
  color: #FDBA30;
}

td {
  padding: 7px;
}

/* TIME SERIES*/

.time-series {
  margin-top: -21px;
  height: 130px;
  background: #ebebeb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 2px 2px 2px 0px #999;
  -moz-box-shadow: inset 2px 2px 2px 0px #999;
  box-shadow: inset 2px 2px 2px 0px #999;
}

/* RIGHT BAR */

.numActions {
  float: right;
  padding: 0 9px;
  margin-right: 10%;
  margin-top: -2%;
  background: #e80a15; /* Old browsers */
  background: linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -o-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -moz-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -webkit-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);
  background: -ms-linear-gradient(top, rgb(246,155,160) 0%, rgb(232,10,21) 65%, rgb(208,4,7) 100%);

background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, rgb(246,155,160)),
  color-stop(0.65, rgb(232,10,21)),
  color-stop(1, rgb(208,4,7))
);
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px 0 #777;
  -moz-box-shadow: 0 2px 2px 0 #777;
  box-shadow: 0 2px 2px 0 #777;
}

.action-item {
  margin: 12px 10px;
  padding: 10px 34px 10px 10px;
  border-radius: 10px;
}

.action-item p {
  position: relative;
}

.action-open {
  border-bottom: 1px solid #e5d6d6;
  /*padding-bottom: 8pt;*/
  margin-bottom: 0 !important;
}

.hiddenAction {
  border-top: 1px solid #fff8f8;
  padding-top: 8pt;
  margin-bottom: 0;
}

.action-item span {
  font-weight: bold;
}

.green {
  border:2px solid #8dc63f;
  background-color: #f1f6e9;
}

.red {
  border:2px solid #ff0000;
  background-color: #ffeeee;
}

.yellow {
  border:2px solid #d9cb00;
  background-color: #fffcdd;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  right: -10%;
  top: 50%;
  cursor:pointer;
}

.grey-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  left: 45%;
  cursor:pointer;
  margin-top:4px;
}

.red .arrow-down {
  border-top: 10px solid #f00;
  -webkit-box-shadow: 0px -1px 0px rgba(146, 0, 50, 0.75);
  -moz-box-shadow:    0px -1px 0px rgba(146, 0, 50, 0.75);
  box-shadow:         0px -1px 0px rgba(146, 0, 50, 0.75);
}

.red .arrow-up {
  border-bottom: 10px solid #f00;
  -webkit-box-shadow: 0px 1px 0px rgba(146, 0, 50, 0.75);
  -moz-box-shadow:    0px 1px 0px rgba(146, 0, 50, 0.75);
  box-shadow:         0px 1px 0px rgba(146, 0, 50, 0.75);
}

.green .arrow-down {
  border-top: 10px solid #8dc63f;
  -webkit-box-shadow: 0px -1px 0px rgba(81, 113, 36, 0.75);
  -moz-box-shadow:    0px -1px 0px rgba(81, 113, 36, 0.75);
  box-shadow:         0px -1px 0px rgba(81, 113, 36, 0.75);
}

.green .arrow-up {
  border-bottom: 10px solid #8dc63f;
  -webkit-box-shadow: 0px 1px 0px rgba(81, 113, 36, 0.75);
  -moz-box-shadow:    0px 1px 0px rgba(81, 113, 36, 0.75);
  box-shadow:         0px 1px 0px rgba(81, 113, 36, 0.75);
}

.yellow .arrow-down {
  border-top: 10px solid #c3b700;
  -webkit-box-shadow: 0px -1px 0px rgba(56, 100, 44, 0.5);
  -moz-box-shadow:    0px -1px 0px rgba(56, 100, 44, 0.5);
  box-shadow:         0px -1px 0px rgba(56, 100, 44, 0.5);
}

.yellow .arrow-up {
  border-bottom: 10px solid #c3b700;
  -webkit-box-shadow: 0px 1px 0px rgba(56, 100, 44, 0.5);
  -moz-box-shadow:    0px 1px 0px rgba(56, 100, 44, 0.5);
  box-shadow:         0px 1px 0px rgba(56, 100, 44, 0.5);
}

.grey .arrow-down {
  border-top: 6px solid #bbb;
  -webkit-box-shadow: 0px -1px 0px rgba(56, 56, 56, 0.8);
  -moz-box-shadow:    0px -1px 0px rgba(56, 56, 56, 0.8);
  box-shadow:         0px -1px 0px rgba(56, 56, 56, 0.8);
}

.grey .arrow-up {
  border-bottom: 6px solid #bbb;
  -webkit-box-shadow: 0px 1px 0px rgba(56, 56, 56, 0.8);
  -moz-box-shadow:    0px 1px 0px rgba(56, 56, 56, 0.8);
  box-shadow:         0px 1px 0px rgba(56, 56, 56, 0.8);
  /*top:40px;*/
}

/************/
/* 2x2 Page */
/************/

.matrixTitle {
  /*font-weight: lighter !important;*/
  text-align: center;
  color: #0078bb;
}

.y-axis-label {
  border-right: 2px solid #e5e5e5;
  height:465px;
  margin-right: 0;
}

.y-axis-label p {
  width: 430px;
  text-align: center;
  font-size: 12pt;
  color: #4f5459;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform:rotate(270deg) translate(-200px, -180px);
  -moz-transform:rotate(270deg) translate(-200px, -180px);
  -o-transform:rotate(270deg) translate(-200px, -180px);
  -ms-transform:rotate(270deg) translate(-200px, -180px);
  transform:rotate(270deg) translate(-200px, -180px);
}

.x-axis-label {
  margin: 0 6.5%;
  border-top: 2px solid #e5e5e5;
  text-align: center;
  font-size: 12pt;
  padding-top: 10px;
  color: #4f5459;
}

.axisCircle {
  position: absolute;
  text-align: center;
  font-size: 14pt;
  padding-bottom: 2px;
  width: 20px;
  border-radius: 20px;
  border: 2px solid #e5e5e5;
  background-color: white;
}

.yAxisTop {
  bottom: 525px;
  left: 92px;
}

.yAxisBottom {
  bottom: 49px;
  left: 92px;
}

.xAxisRight {
  bottom: 49px;
  /*left: 92px;*/
  right: 103px;
}

.quadrant {
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 0 1px;
}

.qLabels {
  overflow: auto;
  border-bottom: 1px solid rgba(100,100,100,0.2);
}

.qNums {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.qLabel {
  height: 60px;
  padding: 10px 0 0;
  font-size: 12pt;
}

.qNum {
  height: 150px;
  width: 33.3% !important;
  font-size: 40pt;
  margin: 0 !important;
}

div .qNum:nth-child(1),div .qNum:nth-child(2) {
  border-right: 1px solid rgba(100,100,100,0.2);
}

div .qNum:nth-child(2),div .qNum:nth-child(3) {
  border-left: 1px solid rgba(255,255,255,0.1);
}

.qNum p {
  padding-top: 40px;
}

p.qSub {
  font-size: 18pt;
  padding-top: 20px;
}


.success {
  background: #005f94; /* Old browsers */
  background: -moz-linear-gradient(45deg, #005f94 0%, #0079bd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#005f94), color-stop(100%,#0079bd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* IE10+ */
  background: linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* W3C */
}

.warning {
  background: #e89c00; /* Old browsers */
  background: -moz-linear-gradient(45deg, #e89c00 0%, #fdba31 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e89c00), color-stop(100%,#fdba31)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* IE10+ */
  background: linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* W3C */
}

.danger {
  background: #c15a00; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c15a00 0%, #f77b00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#c15a00), color-stop(100%,#f77b00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* IE10+ */
  background: linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* W3C */
}



/* DEBUGGING */
.visible {
  border: 1px solid red; 
}

/*}*/
