/* app css stylesheet */

body {
  background: #d4f0ff;
  font-family: Helvetica Neue, Helvetica;
  margin: 0 40px;
}

/* HEADER */

.header {
  padding: 1.5% 0 1.5% 0;
  border-bottom: 1.5px solid #bed8e5;
  /*margin-left:0;*/
}

.brand img{
  height:40px;
}

.username {
  text-align: right;
  margin-top: 15px;
  list-style: none;
}

.username li{
  font-size:16px;
  display: inline;
  color: white;
}

/* LOGIN SCREEN */

.controls input {
  height: 40px;
  font-size: 14pt;
  padding: 6px 0 0 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #999;
}

.sign-in {
  margin-top: 25%;
}

.sign-in button {
  font-size: 20px;
  font-weight: bold;
  color: #363636;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #ffcf70 0%,
    #ffca61 50%,
    #fdb931 50%,
    #ffc551);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#ffcf70),
    color-stop(0.50, #ffca61),
    color-stop(0.50, #fdb931),
    to(#ffc551));
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px #999;
  -moz-box-shadow: inset 1px 1px 1px 0px #999;
  box-shadow: inset 1px 1px 1px 0px #999;
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
}

/* SUBHEADER */

.subheader {
  font-family: Helvetica Neue, Helvetica;
  margin-left:0;
  margin-top:2%;
  color:white;
  font-size:18px;
}

.select-one {
  width: 80%;
  box-sizing: border-box;
}

.dropdown-toggle {
  width: 20%;
  box-sizing: border-box;

}

.selector:first-child {
  margin-left:0;
}

.dropdownLabel {
  text-transform: uppercase;
}

.icon-chevron-right {
  background-color: #5a656b;
  border-radius: 10px;
  margin-top: 2%;
}

.tactic-detail {
   border-top: 1px solid #73c3f5;
   background: #4987df;
   background: -webkit-gradient(linear, left top, left bottom, from(#75a4e6), to(#4987df));
   background: -webkit-linear-gradient(top, #75a4e6, #4987df);
   background: -moz-linear-gradient(top, #75a4e6, #4987df);
   background: -ms-linear-gradient(top, #75a4e6, #4987df);
   background: -o-linear-gradient(top, #75a4e6, #4987df);
   padding: 10px 30px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;
   -webkit-box-shadow: rgba(51,51,51,.5) 2px 1px 0;
   -moz-box-shadow: rgba(51,51,51,.5) 2px 1px 0;
   box-shadow: rgba(51,51,51,.5) 2px 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   text-decoration: none;
   vertical-align: middle;
}

.tactic-detail:hover {
   border-top-color: #4987df;
   background: #4987df;
   color: #ccc;
}

.tactic-detail:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
}

.select-one {
  font-size:30px;
  width: 150px;
}

/* MAIN CONTENT */

.main-content {
  margin: 20px 0;
  padding: 0px;
}

.action-lists {
  background: white;
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  -webkit-box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  -moz-box-shadow: 0 0 8px rgba(116, 179, 233, 1);
  border:1px solid rgba(116, 179, 233, 0.8);
}

.action-list-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #e1e1e1;
  height: 60px;
  color: #464646;
}

.action-list-header p {
  font-size: 25px;
  text-shadow: rgba(0,0,0,.4) -1px 0px 0;
  margin-top: 20px;
  padding-left: 20px;
}

input.calendar {
  margin-top: 10px;
  /*height: 40px;*/
}

.left-container {
  margin-left: 20px;
}
/* Main-content Header */

.main-content-header {
  margin: 20px 20px 0 20px;
  height: 50px;
}

.pill {
  padding: 4px 35px;
  font-size:20px;
  font-weight: bold;
  color:#4f5459;
  text-shadow: rgba(255,255,255,1) 1px 1px 0;
}

.pill:hover {
  color: #0079bc;
}

.pill-left {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;

}

.pill-right {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.excel {
  margin-top:0px;
  padding: 0 20px;
  border-left:2px solid #ccc;
  border-right:2px solid #ccc;
}

.legend {
  display:inline;
  margin-left: 0;
}

.legend li{
  float:left;
  display:inline;
  font-size:12px;
  width:50px;
  padding-left:10px;
}

.legend-bar {
  height: 5px;
  width: 50px;
}

.plus-avg {
  background: linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -o-linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -moz-linear-gradient(bottom, #0079BC 0%, #006196 100%);
  background: -webkit-linear-gradient(bottom, #0079BC 0%, #006196 100%);
}

.minus-avg {
  background: linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -o-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -moz-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
  background: -webkit-linear-gradient(bottom, #FDBA30 0%, #E89C01 100%);
}

.negative {
  background: linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -o-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -moz-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
  background: -webkit-linear-gradient(bottom, #F77B00 0%, #C35B00 100%);
}

.best {
  background: #bade90;
}

/* TABLE */

table {
  border-top: none;
  color: #666;
}

.table-header {
}

tr {
  border-bottom: 1px solid gray;
}

#bar-sales, #bar-vol, #bar-margin, #bar-profit, #bar-trans, #bar-impact {
  height: 10px;
  overflow: visible;
  margin-top: -28px;
}

#time-series {
  height: 130px;
  overflow: visible;
}

.column {
  background: rgba(213,213,213,.3);
}

.row-title {
  position: relative;
  font-size: 15px;
  font-weight: bold;
  width: 8%;
  color: #666;
}

.best-row {
  background-color: rgb(185,222,144);
  background-size: 20px;
}

.upper-header {
  /*border-bottom: 1px solid #ccc;*/
  margin-bottom: -8px;
}

.table-header th {
  font-size: 11px;
  text-align: left;
  vertical-align: bottom;
}

.average {
  text-align: center !important;
  font-size: 25px;
  font-weight: bold;
  color: #007abe;
  cursor: pointer;
}

td {
  padding: 7px !important;
}

/* TIME SERIES*/

.time-series {
  margin-top: -5px;
  height: 130px;
  background: #ebebeb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 2px 2px 2px 0px #999;
  -moz-box-shadow: inset 2px 2px 2px 0px #999;
  box-shadow: inset 2px 2px 2px 0px #999;
}

/* RIGHT BAR */

.action-item {
  margin: 12px 10px;
  padding: 10px 34px 10px 10px;
  border-radius: 10px;
  /*position: relative;*/
}

.action-item p {
  position: relative;
}

.action-open {
  border-bottom: 1px solid #e5d6d6;
  padding-bottom: 8pt;
  margin-bottom: 0 !important;
}

.hiddenAction {
  border-top: 1px solid #fff8f8;
  padding-top: 8pt;
}

.action-item span {
  font-weight: bold;
}

.green {
  border:2px solid #8dc63f;
  background-color: #f1f6e9;
}

.red {
  border:2px solid #ff0000;
  background-color: #ffeeee;
}

.yellow {
  border:2px solid #d9cb00;
  background-color: #fffcdd;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  right: -10%;
  top: 50%;
}

.red .arrow-down {
  border-top: 10px solid #f00;
  -webkit-box-shadow: 0px -1px 0px rgba(146, 0, 50, 0.75);
  -moz-box-shadow:    0px -1px 0px rgba(146, 0, 50, 0.75);
  box-shadow:         0px -1px 0px rgba(146, 0, 50, 0.75);
}

.red .arrow-up {
  border-bottom: 10px solid #f00;
  -webkit-box-shadow: 0px 1px 0px rgba(146, 0, 50, 0.75);
  -moz-box-shadow:    0px 1px 0px rgba(146, 0, 50, 0.75);
  box-shadow:         0px 1px 0px rgba(146, 0, 50, 0.75);
}

.green .arrow-down {
  border-top: 10px solid #8dc63f;
  -webkit-box-shadow: 0px -1px 0px rgba(81, 113, 36, 0.75);
  -moz-box-shadow:    0px -1px 0px rgba(81, 113, 36, 0.75);
  box-shadow:         0px -1px 0px rgba(81, 113, 36, 0.75);
}

.green .arrow-up {
  border-bottom: 10px solid #8dc63f;
  -webkit-box-shadow: 0px 1px 0px rgba(81, 113, 36, 0.75);
  -moz-box-shadow:    0px 1px 0px rgba(81, 113, 36, 0.75);
  box-shadow:         0px 1px 0px rgba(81, 113, 36, 0.75);
}

.yellow .arrow-down {
  border-top: 10px solid #c3b700;
  -webkit-box-shadow: 0px -1px 0px rgba(56, 100, 44, 0.5);
  -moz-box-shadow:    0px -1px 0px rgba(56, 100, 44, 0.5);
  box-shadow:         0px -1px 0px rgba(56, 100, 44, 0.5);
}

.yellow .arrow-up {
  border-bottom: 10px solid #c3b700;
  -webkit-box-shadow: 0px 1px 0px rgba(56, 100, 44, 0.5);
  -moz-box-shadow:    0px 1px 0px rgba(56, 100, 44, 0.5);
  box-shadow:         0px 1px 0px rgba(56, 100, 44, 0.5);
}

/************/
/* 2x2 Page */
/************/

.matrixTitle {
  /*font-weight: lighter !important;*/
  text-align: center;
  color: #0078bb;
}

.y-axis-label {
  border-right: 2px solid #e5e5e5;
  height:465px;
  margin-right: 0;
}

.y-axis-label p {
  width: 430px;
  text-align: center;
  font-size: 12pt;
  color: #4f5459;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform:rotate(270deg) translate(-200px, -180px);
  -moz-transform:rotate(270deg) translate(-200px, -180px);
  -o-transform:rotate(270deg) translate(-200px, -180px);
  -ms-transform:rotate(270deg) translate(-200px, -180px);
  transform:rotate(270deg) translate(-200px, -180px);
}

.x-axis-label {
  margin: 0 6.5%;
  border-top: 2px solid #e5e5e5;
  text-align: center;
  font-size: 12pt;
  padding-top: 10px;
  color: #4f5459;
}

.axisCircle {
  position: absolute;
  text-align: center;
  font-size: 14pt;
  padding-bottom: 2px;
  width: 20px;
  border-radius: 20px;
  border: 2px solid #e5e5e5;
  background-color: white;
}

.yAxisTop {
  bottom: 525px;
  left: 92px;
}

.yAxisBottom {
  bottom: 49px;
  left: 92px;
}

.xAxisRight {
  bottom: 49px;
  /*left: 92px;*/
  right: 103px;
}

.quadrant {
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 0 1px;
}

.qLabels {
  overflow: auto;
  border-bottom: 1px solid rgba(100,100,100,0.2);
}

.qNums {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.qLabel {
  height: 60px;
  padding: 10px 0 0;
  font-size: 12pt;
}

.qNum {
  height: 150px;
  width: 33.3% !important;
  font-size: 40pt;
  margin: 0 !important;
}

div .qNum:nth-child(1),div .qNum:nth-child(2) {
  border-right: 1px solid rgba(100,100,100,0.2);
}

div .qNum:nth-child(2),div .qNum:nth-child(3) {
  border-left: 1px solid rgba(255,255,255,0.1);
}

.qNum p {
  padding-top: 40px;
}

p.qSub {
  font-size: 18pt;
  padding-top: 20px;
}


.success {
  background: #005f94; /* Old browsers */
  background: -moz-linear-gradient(45deg, #005f94 0%, #0079bd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#005f94), color-stop(100%,#0079bd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* IE10+ */
  background: linear-gradient(45deg, #005f94 0%,#0079bd 100%); /* W3C */
}

.warning {
  background: #e89c00; /* Old browsers */
  background: -moz-linear-gradient(45deg, #e89c00 0%, #fdba31 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e89c00), color-stop(100%,#fdba31)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* IE10+ */
  background: linear-gradient(45deg, #e89c00 0%,#fdba31 100%); /* W3C */
}

.danger {
  background: #c15a00; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c15a00 0%, #f77b00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#c15a00), color-stop(100%,#f77b00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* IE10+ */
  background: linear-gradient(45deg, #c15a00 0%,#f77b00 100%); /* W3C */
}


/* DEBUGGING */
.visible {
  border: 1px solid red; 
}
