<!-- ROW OF SELECTORS -->
<sub-header></sub-header>

<!-- BEGIN MAIN CONTENT AREA -->
<div class="span9 main-container">

  <!-- MAIN CONTENT HEADER -->
  <div class="row">
    <div class="span9 main-container-header">
      <p class="span5">Brand</p>
      <div class="control-group input-append span3 date-picker">

        <input type="text" class="date-field" ng-controller="datePickerCtrl" ng-model="datepicker.fromDate" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn date-btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>

        <input type="text" class="date-field" ng-controller="datePickerCtrl" ng-model="datepicker.toDate" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn date-btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      </div>
    </div>
  </div> <!-- END MAIN CONTENT HEADER -->

  <!-- MAIN CONTENT SUBHEADER -->
  <div class="row">
    <div class="span5 main-content-sub">
      <!-- <span class="duration-label">Duration: </span>
      <div class="btn-group durationBtns" data-toggle="buttons-radio">
        <button class="btn btn-mini pill pill-left active" ng-click="loadWeek();curDurationBtn=false">Week</button>
        <button class="btn btn-mini pill pill-right" ng-click="loadTotal();curDurationBtn=true">Total</button>
      </div> -->
    </div>

    <div class="span4 main-content-sub">
      
      <ul class="legend">
        <li>
          <span>+/= avg.</span>
          <div class="legend-bar plus-avg"></div>
        </li>
        <li>
          <span>- avg.</span>
          <div class="legend-bar minus-avg"></div>
        </li>
        <li>
          <span>Negative</span>
          <div class="legend-bar negative"></div>
        </li>
        <li>
          <span>Best</span>
          <div class="legend-bar best"></div>
        </li>
      </ul>
      <img class="excel" src="img/excel-icon-small.jpg" alt="export to excel" />
    </div>

  </div> <!-- END MAIN CONTENT SUBHEADER -->

  <!-- MAIN CONTENT BODY -->
  <table class="main-table">
    <thead>
      <tr class="table-header">
        <th colspan=2></th>
        <th colspan=3 class="upper-header">Average Sales &amp; Profit</th>
      </tr>
      <tr class="table-sub-header table-row">
        <th class="parity-col">Parity</th>
        <th class="events-col"># of Events</th>
        <th class="data-col-brands oddColumn">Incremental<br>Sales<br><span class="subhead-light">$Thousands</span></th>
        <th class="data-col-brands">Incremental<br>Volume<br><span class="subhead-light">$Thousands</span></th>
        <th class="data-col-brands oddColumn">Incremental<br>Margin<br><span class="subhead-light">$Thousands</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="brand in brands" class="table-row">
        <td class="row-title"><a href="#">{{brand.item}}</a></td>
        <td class="">{{brand.numberEvents}}</td>
        <td class="odd-column"></td>
        <td></td>
        <td class="odd-column"></td>
      </tr>

      <tr class="sum-row" ng-controller="timeSeriesCtrl">
        <td colspan=2 class="row-title">Average</td>

        <td ng-repeat="idx in [0,1,2]" class="average grey {{idx%2}}" ng-click="showSales();toggleSelected(idx)"  ng-class="{'': !selected[idx], 'selected-col': selected[idx], 'odd-column': isOdd(idx)}">
          <div class="avg-number">{{averages[idx]}}</div>
          <div class="avg-bottom">
            <span class="grey-arrow" ng-class="{'arrow-up': selected[idx], 'arrow-down': !selected[idx]}"></span>
          </div>

          <!-- FLOATING DIV FOR SELECTED AVG -->
          <div class="average grey selected-avg" ng-click="showSales();toggleSelected(idx)"  ng-class="{'': !selected[idx], 'selected-col': selected[idx], 'odd-column': isOdd(idx)}" ng-show='selected[idx]'>
            <div class="selected-avg-number">{{averages[idx]}}</div>
            <div class="selected-avg-bottom">
              <span class="grey-arrow" ng-class="{'arrow-up': selected[idx], 'arrow-down': !selected[idx]}"></span>
            </div>
          </div> <!-- END FLOATING DIV -->

        </td>
      </tr>

    </tbody>
  </table>

  <!-- BAR CHARTS OVERLAID ON GRAPH -->
  <div class="brand-bar-charts" id="brand-bar-sales">
    <chart value='{{brand_sales}}'></chart>
  </div>
  <div class="brand-bar-charts" id="brand-bar-vol">
    <chart value='{{brand_vol}}'></chart>
  </div>
  <div class="brand-bar-charts" id="brand-bar-margin">
    <chart value='{{brand_margin}}'></chart>
  </div>

  <!-- TIME SERIES GRAPH -->
  <div id="time-series" class="time-series">
    <chart value='{{timeseries}}'></chart>
  </div>
</div> <!-- END MAIN CONTENT AREA -->

<!-- BEGIN SIDEBAR - ACTION ITEMS -->
<div class="span3 main-container action-items">

  <!-- SIDEBAR HEADER -->
  <div class="row">
    <div class=" span3 main-container-header">
      <p class="span3" ng-cloak>Action Required<span class="ng-cloak num-actions">{{(brands|filter:followUpIsNotNull).length + (brands|filter:actionIsNotNull).length}}</span></p>
    </div>
  </div>
  <div ng-repeat="actionItem in brands | filter:actionIsNotNull" ng-controller="actionItemCtrl" ng-click="toggleOpen()" class="action-item {{actionItem.actionColor}}">
    <p ng-class="{'': !open, 'action-open': open}">
      <span class="actionLabel">Action: </span>{{actionItem.action}}
        <span class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
    </p>
    <p class="hidden-action" ng-show="open"}}>
      {{actionItem.hiddenAction}}
    </p>
  </div>

  <div ng-repeat="followUpItem in brands | filter:followUpIsNotNull" ng-controller="actionItemCtrl" ng-click="toggleOpen()" class="action-item {{followUpItem.actionColor}}">
    <p>
      <span class="actionLabel">Follow Up: </span>{{followUpItem.followUp}}
      <span class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
    </p>
    <p class="hidden-action" ng-show="open"}}>
      {{followUpItem.hiddenAction}}
    </p>
  </div>
</div> <!-- END SIDEBAR -->
