<div class="choose">
  <div class="row-fluid">
      <p class="text-center">Please choose one of the following to continue:</p>
  </div>

  <div class="row-fluid">
      <button class="btn-block btn-warning active" ng-click="goHome()">Vice President</button>
  </div>

  <div class="row-fluid">
      <button class="btn-block btn-info disabled" ng-click="goHome()"><span>Director</span></button>
  </div>

  <div class="row-fluid">
      <button class="btn-block btn-warning active" ng-click="goHome()">Category Manager</button>
  </div>
</div>