<sub-header></sub-header>

<div class="container-fluid row-fluid main-content">
  <div class="span9 main-container">
    <div  class="row-fluid main-container-header">
      <p class="span6">Category</p>
      <div class="control-group input-append span6 datePicker">
        <input type="text" class="dateField" ng-model="datepicker.fromDate" data-date-format="dd/mm/yyyy" bs-datepicker>
        <button type="button" class="btn dateBtn" data-toggle="datepicker"><i class="icon-calendar"></i></button>

        <input type="text" class="dateField" ng-model="datepicker.toDate" data-date-format="dd/mm/yyyy" bs-datepicker>
        <button type="button" class="btn dateBtn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        <!-- </div> -->
      </div>

    </div>
    <div class="main-content-container">
      <div class="row-fluid main-content-header">
      <div class="span6">
        <span>Duration: </span>
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn pill pill-left active" ng-click="loadWeek();curDurationBtn=false">Week</button>
          <button class="btn pill pill-right" ng-click="loadTotal();curDurationBtn=true">Total</button>
        </div>
      </div>
      <div class="span1 excel">
        <img src="img/xl-icon32.png" alt="excel export" />
      </div>
      <ul class="span4 legend">
        <li>
          <span>+/= avg.</span>
          <div class="legend-bar plus-avg"></div>
        </li>
        <li>
          <span>- avg.</span>
          <div class="legend-bar minus-avg"></div>
        </li>
        <li>
          <span>Negative</span>
          <div class="legend-bar negative"></div>
        </li>
        <li>
          <span>Best</span>
          <div class="legend-bar best"></div>
        </li>
      </ul>
    </div>
    <div class="row-fluid table-header span11">
      <div class="span3"></div>
      <div class="span6 upper-header">Avarage Sales &amp; Profit</div>
      <div class="span3 upper-header">Avarage Traffic &amp; Basket</div>
      <table class="categories">
        <thead>
          <tr>
            <th class="span1"><p>Parity</p></th>
            <th class="span1"><p># of Events</p></th>
            <th class="column span2"><p>Incremental <br/>Sales<br/> $Thousands</p></th>
            <th class="span2"><p>Incremental <br/>Volume<br/> $Thousands</p></th>
            <th class="column span2"><p>Incremental <br/>Margin<br/> $Thousands</p></th>
            <th class="span2"><p>Incremental <br/>Profit<br/> $Thousands</p></th>
            <th class="span2 column"><p>Incremental <br/>Transactions<br/> $Thousands</p></th>
            <th class="span2"><p>Incremental <br/>Impact<br/> $Thousands</p></th>
            <th></th>
          </tr>
        </thead>
       <tbody>
          <tr>
          <tr ng-repeat="category in categories">
            <td class="span1 row-title"><a href="#">{{concat(category.item)}}</a></td>
            <td class="span1">{{category.numEvents}}</td>
            <td class="span2 column"></td>
            <td class="span2"></td>
            <td class="span2 column"></td>
            <td class="span2"></td>
            <td class="span2 column"></td>
            <td class="span2"></td>
          </tr>
            <div class="bar-charts span9">
              <div class="span2" id="bar-sales">
                <chart value='{{cat_inc_sales}}'></chart>
              </div>
              <div class="span2" id="bar-vol">
                <chart value='{{cat_inc_vol}}'></chart>
              </div>
              <div class="span2" id="bar-margin">
                <chart value='{{cat_inc_margin}}'></chart>
              </div>
              <div class="span2" id="bar-profit">
                <chart value='{{cat_inc_profit}}'></chart>
              </div>
              <div class="span2" id="bar-trans">
                <chart value='{{cat_inc_trans}}'></chart>
              </div>
              <div class="span2" id="bar-impact">
                <chart value='{{cat_inc_impact}}'></chart>
              </div>
          </div>
          <tr style="border-bottom:none">
            <td class="span1 row-title">Average</td>
            <td></td>
            <td class="average column grey" ng-click="showSales();toggleOpen()" ng-controller="actionItemCtrl" ng-class="{'': !open, 'action-open': open}">
              <div class="average-number" ng-show='curDurationBtn'>{{avg_tot_sales}}</div>
              <div class="average-number" ng-hide='curDurationBtn'>{{avg_inc_sales}}</div>


              <div class="average-bottom">
                <span class="grey-arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
                <p class="hiddenAction" ng-show="open"}}>
                  {{actionItem.hiddenAction}}
                </p>
              </div>
            </td>
            <td class="average grey" ng-click="showVolume();toggleOpen()" ng-controller="actionItemCtrl" ng-class="{'': !open, 'action-open': open}">
              <div class="average-number" ng-show='curDurationBtn'>{{avg_tot_vol}}</div>
              <div class="average-number" ng-hide='curDurationBtn'>{{avg_inc_vol}}</div>

              <div class="average-bottom-odd">
                <span class="grey-arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
                <p class="hiddenAction" ng-show="open"}}>
                  {{actionItem.hiddenAction}}
                </p>
              </div>
            </td>
            <td class="average column grey" ng-click="showMargin();toggleOpen()" ng-controller="actionItemCtrl" ng-class="{'': !open, 'action-open': open}">
              <div class="average-number" ng-show='curDurationBtn'>{{avg_tot_margin}}</div>
              <div class="average-number" ng-hide='curDurationBtn'>{{avg_inc_margin}}</div>
              <div class="average-bottom">
                <span class="grey-arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
                <p class="hiddenAction" ng-show="open"}}>
                  {{actionItem.hiddenAction}}
                </p>
              </div>
            </td>
            <td class="average grey" ng-click="showProfit();toggleOpen()" ng-controller="actionItemCtrl" ng-class="{'': !open, 'action-open': open}">
              <div class="average-number" ng-show='curDurationBtn'>{{avg_tot_profit}}</div>
              <div class="average-number" ng-hide='curDurationBtn'>{{avg_inc_profit}}</div>

              <div class="average-bottom-odd">
                <span class="grey-arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
                <p class="hiddenAction" ng-show="open"}}>
                  {{actionItem.hiddenAction}}
                </p>
              </div>
            </td>
            <td class="average column grey" ng-click="showTrans();toggleOpen()" ng-controller="actionItemCtrl" ng-class="{'': !open, 'action-open': open}">
              <div class="average-number" ng-show='curDurationBtn'>{{avg_tot_trans}}</div>
              <div class="average-number" ng-hide='curDurationBtn'>{{avg_inc_trans}}</div>
              <div class="average-bottom">
                <span class="grey-arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
                <p class="hiddenAction" ng-show="open"}}>
                  {{actionItem.hiddenAction}}
                </p>
              </div>
            </td>
            <td class="average grey" ng-click="showImpact();toggleOpen()" ng-controller="actionItemCtrl" ng-class="{'': !open, 'action-open': open}">
              <div class="average-number" ng-show='curDurationBtn'>{{avg_tot_impact}}</div>
              <div class="average-number" ng-hide='curDurationBtn'>{{avg_inc_impact}}</div>

              <div class="average-bottom-odd">
                <span class="grey-arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
                <p class="hiddenAction" ng-show="open"}}>
                  {{actionItem.hiddenAction}}
                </p>
              </div>
            </td>          </tr>
        </tbody>
      </table>
    </div>
     <div id="time-series" class="row-fluid span11 time-series">
          <chart value='{{timeseries}}'></chart>
      </div>
    </div>
  </div>


  <div class="span3 main-container">
    <div class="row-fluid main-container-header">
      <p ng-cloak>Action Required<span ng-cloak class="ng-cloak numActions">{{(categories|followUp).length + (categories|action).length}}</span></p>
    </div>

    <div ng-repeat="actionItem in categories | action" ng-controller="actionItemCtrl" class="action-item {{actionItem.actionColor}}">
      <p ng-class="{'': !open, 'action-open': open}">
        <span>Action: </span>Promote <span>{{actionItem.item}}</span><br>{{actionItem.action}}
          <span ng-click="toggleOpen()" class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
      </p>
      <p class="hiddenAction" ng-show="open"}}>
        {{actionItem.hiddenAction}}
      </p>
    </div>

    <div ng-repeat="followUpItem in categories | followUp" ng-controller="actionItemCtrl" class="action-item {{followUpItem.actionColor}}">
      <p>
        <span>Follow Up: </span>Promote <span>{{followUpItem.item}}</span><br>{{followUpItem.followUp}}
        <span ng-click="toggleOpen()" class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
      </p>
      <p class="hiddenAction" ng-show="open"}}>
        {{followUpItem.hiddenAction}}
      </p>
    </div>

  </div>
</div>
