<script src="js/charts.js"></script>
<script src="js/category_time_series.js"></script>
<script src="js/category_bar_charts.js"></script>

<sub-header></sub-header>

<div class="container-fluid row-fluid main-content">
  <div class="span9 action-lists">
    <div class="row-fluid action-list-header">
      <p class="span6">Category</p>
      <input class="span3 calendar" type="date">
      <input class="span3 calendar" type="date">
    </div>
    <div class="row-fluid main-content-header">
      <div class="span6">
        <span>Duration: </span>
        <div class="btn-group">
          <button class="btn pill pill-left">Week</button>
          <button class="btn pill pill-right" ng-click="loadTotal()">Total</button>
        </div>
      </div>
      <div class="span1 excel">
        <i class="icon-th-large"></i>
      </div>
      <ul class="span4 legend">
        <li>
          <span>+/= avg.</span>
          <div class="legend-bar plus-avg"></div>
        </li>
        <li>
          <span>- avg.</span>
          <div class="legend-bar minus-avg"></div>
        </li>
        <li>
          <span>Negative</span>
          <div class="legend-bar negative"></div>
        </li>
        <li>
          <span>Best</span>
          <div class="legend-bar best"></div>
        </li>
      </ul>
    </div>
    <div class="row-fluid table-header span11">
      <div class="span3"></div>
      <div class="span6 upper-header"><h5>Avarage Sales &amp; Profit</h5></div>
      <div class="span3 upper-header"><h5>Avarage Traffic &amp; Basket</h5></div>

      <chart value="{{categories}}"></chart>

    </div>

    <div class="row-fluid span11 time-series">
      <div id="time-series"></div>
    </div>
  </div>


  <div class="span3 action-lists">
    <div class="row-fluid action-list-header">
      <p>Action Required</p>
    </div>

    <div ng-repeat="actionItem in catDataInc | action" ng-controller="actionItemCtrl" class="action-item {{actionItem.actionColor}}">
      <p ng-class="{'': !open, 'action-open': open}">
        <span>Action: </span>Promote <span>{{actionItem.item}}</span><br>{{actionItem.action}}
          <span ng-click="toggleOpen()" class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
      </p>
      <p class="hiddenAction" ng-show="open"}}>
        {{actionItem.hiddenAction}}
      </p>
    </div>

    <div ng-repeat="followUpItem in catDataInc | followUp" ng-controller="actionItemCtrl" class="action-item {{followUpItem.actionColor}}">
      <p>
        <span>Follow Up: </span>Promote <span>{{followUpItem.item}}</span><br>{{followUpItem.followUp}}
        <span ng-click="toggleOpen()" class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
      </p>
      <p class="hiddenAction" ng-show="open"}}>
        {{followUpItem.hiddenAction}}
      </p>
    </div>

  </div>
</div>
