<sub-header></sub-header>

<div class="container-fluid row-fluid main-content">
  <div class="span9 action-lists">
    <div class="row-fluid action-list-header">
      <p class="span6">Category</p>
      <input class="span3 calendar" type="date">
      <input class="span3 calendar" type="date">
    </div>
    <div class="row-fluid main-content-header">
      <div class="span6">
        <span>Duration: </span>
        <div class="btn-group">
          <button class="btn pill pill-left">Week</button>
          <button class="btn pill pill-right" ng-click="loadTotal()">Total</button>
        </div>
      </div>
      <div class="span1 excel">
        <i class="icon-th-large"></i>
      </div>
      <ul class="span4 legend">
        <li>
          <span>+/= avg.</span>
          <div class="legend-bar plus-avg"></div>
        </li>
        <li>
          <span>- avg.</span>
          <div class="legend-bar minus-avg"></div>
        </li>
        <li>
          <span>Negative</span>
          <div class="legend-bar negative"></div>
        </li>
        <li>
          <span>Best</span>
          <div class="legend-bar best"></div>
        </li>
      </ul>
    </div>
    <div class="row-fluid table-header span11">
      <div class="span3"></div>
      <div class="span6 upper-header"><h5>Avarage Sales &amp; Profit</h5></div>
      <div class="span3 upper-header"><h5>Avarage Traffic &amp; Basket</h5></div>
      <table class="categories">
        <tr>
          <th class="span2"><p>Parity</p></th>
          <th class="span1"><p># of Events</p></th>
          <th class="column span2"><p>Incremental Sales<br/> $Thousands</p></th>
          <th class="span2"><p>Incremental Volume<br/> $Thousands</p></th>
          <th class="column span2"><p>Incremental Margin<br/> $Thousands</p></th>
          <th class="span2"><p>Incremental Profit<br/> $Thousands</p></th>
          <th class="span2 column"><p>Incremental Transactions<br/> $Thousands</p></th>
          <th class="span2"><p>Incremental Impact<br/> $Thousands</p></th>
          <th></th>
        </tr>
       <tbody>
          <tr>
          <tr ng-repeat="category in categories">
            <td class="span3 row-title"><a href="#" style="text-decoration:none; color: #666">{{category.item}}</a></td>
            <td>{{category.numEvents}}</td>
            <td class="column">
              <div id="bar-sales"><chart value='{{cat_inc_sales}}'></chart></div>
            </td>
            <td>
              <div id="bar-vol">
                <chart value='{{cat_inc_vol}}'></chart>
              </div>
            </td>
            <td class="column">
              <div id="bar-margin">
                <chart value='{{cat_inc_margin}}'></chart>
              </div>
            </td>
            <td>
              <div id="bar-profit">
                <chart value='{{cat_inc_profit}}'></chart>
              </div>
            </td>
            <td class="column">
              <div id="bar-trans">
                <chart value='{{cat_inc_trans}}'></chart>
              </div>
            </td>
            <td>
              <div id="bar-impact">
                <chart value='{{cat_inc_impact}}'></chart>
              </div>
            </td>
          </tr>

          <tr>
            <td class="row-title">Average</td>
            <td></td>
            <td class="average column">80</td>
            <td class="average">80</td>
            <td class="average column">80</td>
            <td class="average">80</td>
            <td class="average column">80</td>
            <td class="average">80</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row-fluid span11 time-series">
      <div id="time-series"></div>
    </div>
  </div>


  <div class="span3 action-lists">
    <div class="row-fluid action-list-header">
      <p>Action Required</p>
    </div>

    <div ng-repeat="actionItem in catDataInc | action" ng-controller="actionItemCtrl" class="action-item {{actionItem.actionColor}}">
      <p ng-class="{'': !open, 'action-open': open}">
        <span>Action: </span>Promote <span>{{actionItem.item}}</span><br>{{actionItem.action}}
          <span ng-click="toggleOpen()" class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
      </p>
      <p class="hiddenAction" ng-show="open"}}>
        {{actionItem.hiddenAction}}
      </p>
    </div>

    <div ng-repeat="followUpItem in catDataInc | followUp" ng-controller="actionItemCtrl" class="action-item {{followUpItem.actionColor}}">
      <p>
        <span>Follow Up: </span>Promote <span>{{followUpItem.item}}</span><br>{{followUpItem.followUp}}
        <span ng-click="toggleOpen()" class="arrow" ng-class="{'arrow-up': open, 'arrow-down': !open}"></span>
      </p>
      <p class="hiddenAction" ng-show="open"}}>
        {{followUpItem.hiddenAction}}
      </p>
    </div>

  </div>
</div>
