<form class="form-horizontal sign-in">
  <div class="control-group row-fluid">
    <div class="controls span4 offset4">
      <input type="text" id="inputEmail" class="input-block-level" ng-model="user.email" placeholder="Username">
    </div>
  </div>
  <div class="control-group row-fluid">
    <div class="controls span4 offset4">
      <input type="password" id="inputPassword" class="input-block-level" ng-model="user.password"  placeholder="Password">
    </div>
  </div>
  <div class="control-group row-fluid">
    <div class="controls span4 offset4">
      <button type="submit"  class="btn-block" ng-click="login()">Sign in</button>
    </div>
  </div>
<p>{{user | json}}</p>
<p>{{master | json}}</p>
</form>
