<div class="subheader row-fluid">
  <div class="span2 selector">
    <span class="dropdownLabel">Department </span><i class="icon-chevron-right icon-white"></i>
    <div class="btn-group btn-block">
      <button class="btn select-one "><b>Select one</b></button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Department 1</a></li>
        <li><a href="#">Department 2</a></li>
        <li><a href="#">Department 3</a></li>
        <li><a href="#">Department 4</a></li>
        <li><a href="#">Department 5</a></li>
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <span class="dropdownLabel">Category</span><i class="icon-chevron-right icon-white"></i>
    <div class="btn-group btn-block">
      <button class="btn select-one">Select one</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="category in categories"><a href="#">{{category.item}}</a></li>
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <span class="dropdownLabel">Brand</span><i class="icon-chevron-right icon-white"></i>
    <div class="btn-group btn-block">
      <button class="btn select-one">Select one</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="brand in brands"><a href="#">{{brand.item}}</a></li>
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <span class="dropdownLabel">Item</span><i class="icon-chevron-right icon-white"></i>
    <div class="btn-group btn-block">
      <button class="btn select-one">Select one</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="item in items"><a href="#">{{item.item}}</a></li>
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <span class="dropdownLabel">Item Tactic</span><i class="icon-chevron-right icon-white"></i>
    <div class="btn-group btn-block">
      <button class="btn select-one">Select one</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Item Tactic 1</a></li>
        <li><a href="#">Item Tactic 2</a></li>
        <li><a href="#">Item Tactic 3</a></li>
        <li><a href="#">Item Tactic 4</a></li>
        <li><a href="#">Item Tactic 5</a></li>
      </ul>
    </div>
  </div>
  <div class="span2">
    <button class="tactic-detail btn-block">
      <p>View by<br>Tactic Detail</p>
    </button>
  </div>
</div>