<div class="subheader row-fluid">
  <div class="span2 selector">
    <p class="dropdownLabel">Department <i class="icon-chevron-right icon-white"></i></p>
    <div class="btn-group btn-block">
      <button class="btn select-one ">Dry Grocery</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Another category</a></li>
        <li><a href="#">Another category</a></li>
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <p class="dropdownLabel">Category <i class="icon-chevron-right icon-white"></i></p>
    <div class="btn-group btn-block">
      <button class="btn select-one">Category</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <p class="dropdownLabel">Brand <i class="icon-chevron-right icon-white"></i></p>
    <div class="btn-group btn-block">
      <button class="btn select-one">Category</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <p class="dropdownLabel">Item <i class="icon-chevron-right icon-white"></i></p>
    <div class="btn-group btn-block">
      <button class="btn select-one">Select one</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
      </ul>
    </div>
  </div>
  <div class="span2 selector">
    <p class="dropdownLabel">Item Tactic <i class="icon-chevron-right icon-white"></i></p>
    <div class="btn-group btn-block">
      <button class="btn select-one">Select one</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
      </ul>
    </div>
  </div>
  <div class="span2">
    <button class="tactic-detail">
      <p>View by Tactic Detail</p>
    </button>
  </div>
</div>