<sub-header></sub-header>

  <!-- BEGIN MAIN CONTENT AREA -->
  <div class="span12 main-container twoxtwopadding">

  <!-- MAIN CONTENT HEADER -->
  <div class="row" ng-controller="datePickerCtrl">
    <div class="span12 main-container-header">
      <p class="span7">Category</p>
      <div class="control-group input-append span2 date-picker">
        <label class="date-label" style="margin-right:6px;">From:</label>
        <input name="fromDate" type="text" class="input-small" ng-model="datepicker.fromDate" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn date-btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      </div>
      <div class="control-group input-append span2 date-picker">
        <label class="date-label" style="margin-right:6px;">To:</label>
        <input name="toDate" class="input-small" type="text" ng-model="datepicker.toDate" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      </div>
    </div>
  </div> <!-- END MAIN CONTENT HEADER -->

  <div class="row main-content-header">
  </div>
    <div class="row-fluid">
      <div class="span12 matrixTitle"><h3>{{twoBytwo.title}}</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1 y-axis-label">
        <p>Incremental Sales</p>
        <div class="axisCircle yAxisTop">+</div>
        <div class="axisCircle yAxisBottom">-</div>
      </div>
      <!-- LEFT QUADRANTS -->
      <div class="span5 matrixColumn">
        <div ng-repeat="cell in twoBytwo.cells" ng-show=" $index == 0 || $index == 2 " class="fluid-row">
          <div class=" {{cell.position}} {{cell.condition}} span12 quadrant">
            <div class="fluid-row qLabels">
              <div class="span4 qLabel"><p>Events</p></div>
              <div class="span4 qLabel"><p>Incremental<br>Sales $</p></div>
              <div class="span4 qLabel"><p>Incremental<br>Margin $</p></div>
            </div>
            <div class="fluid-row qNums">
              <div class="span4 qNum">
                <p>{{cell.events}}</p>
                <p class="qSub">({{cell.events_sub}}%)</p></div>
              <div class="span4 qNum"><p>{{cell.incremental_sales}}M</p></div>
              <div class="span4 qNum"><p>{{cell.incremental_margin}}M</p></div>
            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT QUADRANTS -->
      <div class="span5 matrixColumn">
        <div ng-repeat="cell in twoBytwo.cells" ng-show=" $index == 1 || $index == 3 " class="fluid-row">
          <div class=" {{cell.position}} {{cell.condition}} span12 quadrant">
            <div class="fluid-row qLabels">
              <div class="span4 qLabel"><p>Events</p></div>
              <div class="span4 qLabel"><p>Incremental<br>Sales $</p></div>
              <div class="span4 qLabel"><p>Incremental<br>Margin $</p></div>
            </div>
            <div class="fluid-row qNums">
              <div class="span4 qNum">
                <p>{{cell.events}}</p>
                <p class="qSub">({{cell.events_sub}}%)</p></div>
              <div class="span4 qNum"><p>{{cell.incremental_sales}}M</p></div>
              <div class="span4 qNum"><p>{{cell.incremental_margin}}M</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <p class="x-axis-label">Incremental Margin</p>
        <div class="axisCircle xAxisRight">+</div>
      </div>
    </div>
  </div>
